coreapi
django==2.1.5
django-allauth
django-crispy-forms
django-filter
djangorestframework
httpie==1.0.3
markdown
numpy>1.16.0
pydub
pympi-ling
pyyaml
requests==2.21.0
scipy==1.2.1
django-allauth-ui==0.1.0
django-widget-tweaks==1.4.12
