<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <title>CMU Linguistic Annotation Backend</title>
    </head>

    <body>
        {% load crispy_forms_tags %}
        <div style="width: 637px; margin: auto;">
        <p/>
        <h1>CMU Linguistic Annotation Backend</h1>
        <p style="text-align: right">You are logged in as <b>{{ user.username }}</b>. <a href="/annotator/logout">Logout</a></p>

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="upload-tab"  href="#upload" role="tab" aria-controls="upload" aria-selected="true">Upload</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="models-tab"  href="#models" role="tab" aria-controls="models" aria-selected="false">Models</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab"  href="#contact" role="tab" aria-controls="contact" aria-selected="false">About</a>
            </li>
        </ul>
				<div class="tab-content" id="myTabContent">

            <div class="tab-pane fade show active" id="upload" role="tabpanel" aria-labelledby="upload-tab">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" style="width:100%;" src="/static/cmu-irb-online-consent.html"></iframe>
                </div>
                <br>
                <!-- List of uploaded documents -->
                {% if documents %}
                    <ul>
                        {% for document in documents %}
                            <li><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No documents.</p>
                {% endif %}

                <!-- Upload form. Note enctype attribute! -->
                <form action="{% url 'list_home' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <p>{{ form.non_field_errors }}</p>

                    <!--<p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>-->

                    <p>
                        <!--{{ form.docfile.errors }}-->
                        <!--{{ form.docfile }}-->
                        {{ form|crispy }}
                    </p>

                    <p><input class="btn btn-primary" type="submit" value="Upload"/></p>
                </form>
            </div>

						<div class="tab-pane fade" id="models" role="tabpanel" aria-labelledby="models-tab">
                <!--<h5 style="text-align: center">Fine-tuned phone recognizer (Allosaurus) models</h5>-->
                {% if ml_models %}
                <table class="table">
                    <tr>
                        <td>Model ID</td>
                        <td>Model</td>
                        <td>Timestamp</td>
                        <td>Status</td>
                        <td></td>
                    </tr>
                    {% for ml_model in ml_models %}
                    <tr>
                        <td><small>{{ ml_model.name }}</small></td>
                        <td><small>{{ ml_model.modelTrainingSpec }}</small></td>
                        <td><small>{{ ml_model.created }}</small></td>
                        <!-- <td><small><a target="_blank" href="/annotator/media/allosaurus_finetune_{{ ml_model.name }}_log.txt"><small>{{ ml_model.status }}</small></a></td> -->
                        <td><small><a target="_blank" href={{ml_model.log_url}}><small>{{ ml_model.status }}</small></a></td>
                        <td>
                            <button type="button" class="btn btn-danger delete-button"
                                    data-toggle="modal" data-target="#deleteModalCenter"
                                    data-id="{{ ml_model.id }}"
                                    data-name="{{ ml_model.name }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
                                        viewBox="0 0 16 16">
                                        <path
                                            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                        <path fill-rule="evenodd"
                                            d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                    </svg>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
		<div class="modal fade" id="deleteModalCenter" tabindex="-1" role="dialog" aria-labelledby="deleteModalCenterTitle" aria-hidden="true">
		    <div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
			    <div class="modal-header">
				<h5 class="modal-title" id="deleteModalLongTitle">Are you sure?</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				    <span aria-hidden="true">&times;</span>
				</button>
			    </div>
			    <div class="modal-body">
			    Deleting a model is permanent, once deleted, the model cannot be recovered! Are you sure you want to continue?
			    </div>
			    <div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
				<button type="button" data-id="-1" id="actual-delete-button" class="btn btn-danger">Delete</button>
			    </div>
			</div>
		    </div>
		</div>
                {% else %}
                    <p>No ml_models.</p>
                {% endif %}
            </div>

            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <br>
                Check us out on <a href="https://github.com/neulab/cmulab">Github</a>
            </div>

        </div>

        <br>
        </div>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script>
            var csrf_token = '{{csrf_token}}';
            $(document).ready(function(){
                if(window.location.hash != "") {
                    $('a[href="' + window.location.hash + '"]').click()
                }
            });
            $('.nav-tabs a').click(function (e) {
                        $(this).tab('show');
            });
            $(".delete-button").click(function () {
                let model_id = $(this).data('id');
                let model_name = $(this).data('name');
                $("#deleteModalLongTitle").text("Delete " + model_name + " ?");
                $("#actual-delete-button").data('id', model_id);
                $('#deleteModalCenter').modal('show');
            });
            $("#actual-delete-button").click(function () {
                $.ajax({
                        url: '/annotator/model/' + $(this).data('id'),
                        headers: { "X-CSRFToken": csrf_token },
                        type: 'DELETE',
                        success: function(result) {
                            location.reload();
                        },
                        error: function(XMLHttpRequest, textStatus, errorThrown) {
                            alert("Status: " + textStatus);
                            alert("Error: " + errorThrown);
                        }
                });
            });
        </script>
    </body>

</html>
