<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <title>CMU Linguistic Annotation Backend</title>
    </head>

    <body>
        <!-- <div style="width: 637px; margin: auto;"> -->
        <div style="width: 80%; margin: auto;">
        <p/>
        <p/>
        <br>
        <h2>User Profile</h2>
        <p style="text-align: left">You are logged in as <b>{{ user.username }} ({{ user.email }})</b></p>
        <p><a class="btn btn-default" role="button" href="/annotator/logout">Logout</a></p>
        <p><a class="btn btn-default" role="button" href="/annotator/home/">Go back to home page</a></p>
        <p><a class="btn btn-default" role="button" href="/accounts/email/">Add, update or verify your email</a></p>
        <p><a class="btn btn-default" role="button" href="/accounts/password/change/">Change password</a></p>
        <p><a class="btn btn-default" role="button" href="/accounts/password/reset/">Send password reset email</a></p>

    </body>

</html>
